// =============================
// サイトの基本設定
// =============================

// リンク -----------------------
// 共通（極小サイズ）
body {
  background: #f7f7f7;
  color: #111;
  padding: 20px 0;
  &::before,
  &::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100%;
    height: 20px;
    background: #111;
    z-index: 999;
  }
  &::before {
    content: '';
    top: 0;
  }
  &::after {
    content: '';
    bottom: 0;
  }
}
a {
  color: #111;
}

// 横向きモバイル、ファブレットサイズ（576px以上）
@include media-breakpoint-up(sm) {
}

// タブレットサイズ（768px以上）
@include media-breakpoint-up(md) {
  body {
    padding: 50px 0;
    &::before,
    &::after {
      height: 50px;
    }
  }
}

// PCサイズ（992px以上）
@include media-breakpoint-up(lg) {
}

// 配色 -------------------------
// サイトカラー
$light-shades: #fff;
$light-accent: #dd8009;
$main-brand-color: #631508;
$dark-accent: #79391b;
$dark-shades: #040301;
// セマンティック（意味付け）カラー
$primary: #631407;
$info: #040301;
$success: #53813a;
$warning: #d07002;
$danger: #f44336;

// フォント ----------------------
