@import '_setting';

// =============================
// 共通モジュールやパーツ
// =============================
// ヘッダー ---------------------
// 共通（極小サイズ）
.global-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  .container {
    padding: 0;
  }
  .logo-image {
    width: 30px;
  }
  .logo-image-text {
    width: 80px;
  }
  &__search {
    position: relative;
    .form-control {
      border-radius: .25rem;
      padding-right: 3.3rem;
      width: 100%;
    }
    button {
      border-radius: 0 .25rem .25rem 0;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__nav {
    ul {
      font-size: .875rem;
      i {
        font-size: 1.5rem;
      }
    }
  }
  .navbar-toggler {
    border: 0;
  }

  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
    .container {
      padding: 0 15px;
    }
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
    .logo-image {
      width: 50px;
    }
    .logo-image-text {
      width: 110px;
    }
    &__search {
      .form-control {
        width: auto;
      }
    }
    &__nav {
      ul{
        a {
          text-decoration: underline;
          i {
            font-size: inherit;
          }
        }
      }
    }
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// フッター ---------------------
// 共通（極小サイズ）
.global-footer {
  &__nav {
    ul {
      font-size: .812rem;
      li {
        border-bottom: 1px solid rgba($dark-accent, .2);
        &:first-child {
          border-top: 1px solid rgba($dark-accent, .2);
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
  }
  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
    border-top: 1px solid #e7e7e7;
    &__nav {
      ul {
        li {
          border: 0;
          &:first-child {
            border-top: 0;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// サイドバー --------------------
// 共通（極小サイズ）
.global-sidebar {
  .media {
    img {
      border-radius: 50%;
      width: 60px;
      margin-right: 1rem;
    }
    .media-body {
      .user-info__username {
        font-size: .75rem;
      }
    }
  }

  .card-title {
    font-size: 1.625rem;
  }
  .card-text {
    font-size: .875rem;
  }

  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// メインコンテンツ --------------
// 共通（極小サイズ）
// 保存後のメッセージ
.save_explanation {
  text-align: left;
  ul {
    color: $success;
    font-size: .875rem;
    list-style: none;
    padding: 0;
  }
}

.film-title {
  font-weight: bold;
  font-size: 1.875rem;
}

// 横向きモバイル、ファブレットサイズ（576px以上）
@include media-breakpoint-up(sm) {
}

// タブレットサイズ（768px以上）
@include media-breakpoint-up(md) {
  .film-title {
    font-size: 2.25rem;
  }
  .film-text {
    font-size: 1.125rem;
  }
}

// PCサイズ（992px以上）
@include media-breakpoint-up(lg) {
}

// 大画面サイズ（1140px以上）
@include media-breakpoint-up(xl) {
  .film-title {
    // font-size: 3.75rem;
  }
}

// Bootstrap拡張 ---------------
.card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
}
.card-header {
  background: none;
  border-bottom-color: #e7e7e7;
}
.media-body {
  word-break: break-all;
}