@import '_setting';

// =============================
// 共通モジュールやパーツ
// =============================

// ヘッダー ---------------------
// 共通（極小サイズ）
.global-header {
  .container {
    padding: 0;
  }
  .logo-image {
    width: 30px;
  }
  &__search {
    .form-control {
      border-radius: .25rem 0 0 .25rem;
    }
    button {
      border-radius: 0 .25rem .25rem 0;
      background-color: #fff;
    }
  }
  &__nav {
    ul {
      font-size: .875rem;
      i {
        font-size: 1.5rem;
      }
    }
  }
  .navbar-toggler {
    border: 0;
  }

  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
    .container {
      padding: 0 15px;
    }
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
    .logo-image {
      width: 50px;
    }
    &__nav {
      ul{
        i {
          font-size: inherit;
        }
      }
    }
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// フッター ---------------------
// 共通（極小サイズ）
.global-footer {
  &__nav {
    ul {
      font-size: .812rem;
      li {
        border-bottom: 1px solid rgba($dark-accent, .2);
        &:first-child {
          border-top: 1px solid rgba($dark-accent, .2);
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
  }
  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
    &__nav {
      ul {
        li {
          border: 0;
          &:first-child {
            border-top: 0;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// サイドバー --------------------
// 共通（極小サイズ）
.global-sidebar {
  .media {
    img {
      border-radius: 50%;
      width: 60px;
      margin-right: 1rem;
    }
    .media-body {
      .user-info__username {
        font-size: .75rem;
      }
    }
  }

  // 横向きモバイル、ファブレットサイズ（576px以上）
  @include media-breakpoint-up(sm) {
  }

  // タブレットサイズ（768px以上）
  @include media-breakpoint-up(md) {
  }

  // PCサイズ（992px以上）
  @include media-breakpoint-up(lg) {
  }
}

// メインコンテンツ --------------
// 共通（極小サイズ）
// 保存後のメッセージ
.save_explanation {
  text-align: left;
  ul {
    color: $success;
    font-size: .875rem;
    list-style: none;
    padding: 0;
  }
}

// 横向きモバイル、ファブレットサイズ（576px以上）
@include media-breakpoint-up(sm) {
}

// タブレットサイズ（768px以上）
@include media-breakpoint-up(md) {
}

// PCサイズ（992px以上）
@include media-breakpoint-up(lg) {
}