// =============================
// サイトの基本設定
// =============================

// リンク -----------------------
a {
  text-decoration: underline;
}

// 配色 -------------------------
// サイトカラー
$light-shades: #fff;
$light-accent: #dd8009;
$main-brand-color: #631508;
$dark-accent: #79391b;
$dark-shades: #040301;
// セマンティック（意味付け）カラー
$primary: #631407;
$info: #040301;
$success: #53813a;
$warning: #d07002;
$danger: #f44336;

// フォント ----------------------
