meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
/ meta(property="fb:app_id" content=Settings.site.meta.fb.app_id)

/ webclip icon
/ meta(name="apple-mobile-web-app-capable" content='yes')
/ meta(name="apple-mobile-web-app-status-bar-style" content='default')
/ link(rel="apple-touch-icon" href=Settings.site.meta.webclipicon)

= display_meta_tags(default_meta_tags)